.italicButton {
  font-style: italic;
}

.boldButton {
  font-weight: bold;
}

.title {
  color: #e6edf3;
  font-family: "Roboto", sans-serif;
}

select {
  height: 100%;
}

button {
  background-color: #42536c;
  color: white;
  cursor: pointer;
}
