body {
  background: #0d1117;
  margin: 0;
}
.topLine {
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-top: 2.2rem;
}

.bottomLine {
  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
}

.leftLine {
  width: 2px;
  height: calc(100vh - 2.2rem);
  margin-top: 2.2rem;
  background-color: white;
  position: absolute;
  margin-left: 6.5vw;
}

.middleLine {
  width: 2px;
  height: 76.2vh;
  margin-top: 2.2rem;
  background-color: white;
  position: absolute;
  margin-left: 46.55vw;
}

.rightLine {
  width: 2px;
  height: 76.2vh;
  margin-top: 2.2rem;
  background-color: white;
  position: absolute;
  margin-left: 53.2vw;
}

.commandsLine {
  width: 6.68vw;
  height: 2px;
  background-color: white;
  position: absolute;
  margin-top: 5.8vh;
  margin-left: 46.65vw;
}
